VITE_CONTRACT_ADDRESS=0xfE842F9418A1e917DB11625B5120726C4A1c4E54
VITE_CONTRACT_ABI=
VITE_RELAYER_BASE_URL=http://localhost:3001
VITE_ARC_RPC_URL=https://rpc.drpc.testnet.arc.io
VITE_DEPLOYMENT_BLOCK=56099880
VITE_CLIENT_KEY=
VITE_CLIENT_URL=https://modular-sdk.circle.com/v1/rpc/w3s/buidl
