VITE_CONTRACT_ADDRESS=0xdfe3495a871e17317b50c5b1b688554ee7194037
VITE_CONTRACT_ABI=
VITE_RELAYER_BASE_URL=http://localhost:3001
VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_DEPLOYMENT_BLOCK=56139585
VITE_CLIENT_KEY=
VITE_CLIENT_URL=https://modular-sdk.circle.com/v1/rpc/w3s/buidl
