BUYER_ADDRESS=
SELLER_ADDRESS=
ARBITRATION_ADDRESS=
OPERATOR_ADDRESS=
DEPLOYER_PRIVATE_KEY=
ARC_RPC_URL=
GATEWAY_API_BASE_URL=https://gateway-api-testnet.circle.com
RELAYER_PRIVATE_KEY=
SQLITE_PATH=./relayer.db
