# Environment / secrets
.env
.env.*
!.env.example

# Foundry
lib/
out/
cache/

# Foundry broadcast artifacts
broadcast/
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Logs / local files
.logs/
.ignore/

# Node
node_modules/
dist/
relayer.db
relayer.db-shm
relayer.db-wal

# macOS
.DS_Store

# Documentation
docs/
